[submodule "vim/bundle/indentpython"]
	path = vim/bundle/indentpython
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-git"]
	path = vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/vim-obsession"]
	path = vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-textobj-entire"]
	path = vim/bundle/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "vim/bundle/vim-textobj-line"]
	path = vim/bundle/vim-textobj-line
	url = https://github.com/kana/vim-textobj-line.git
[submodule "vim/bundle/vim-textobj-python"]
	path = vim/bundle/vim-textobj-python
	url = https://github.com/bps/vim-textobj-python.git
[submodule "vim/bundle/vim-textobj-user"]
	path = vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vim-python-pep8-indent"]
	path = vim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "vim/bundle/vim-textobj-lastpat"]
	path = vim/bundle/vim-textobj-lastpat
	url = https://github.com/kana/vim-textobj-lastpat.git
[submodule "vim/bundle/vim-operator-user"]
	path = vim/bundle/vim-operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule "vim/bundle/textobj-comment"]
	path = vim/bundle/textobj-comment
	url = git://github.com/glts/vim-textobj-comment.git
[submodule "vim/bundle/vim-python-scripting"]
	path = vim/bundle/vim-python-scripting
	url = git@github.yandex-team.ru:seiv/vim-python-scripting.git
[submodule "vim/bundle/vim-textobj-parameter"]
	path = vim/bundle/vim-textobj-parameter
	url = https://github.com/sgur/vim-textobj-parameter.git
[submodule "vim/bundle/vim-textobj-indblock"]
	path = vim/bundle/vim-textobj-indblock
	url = https://github.com/glts/vim-textobj-indblock.git
[submodule "vim/bundle/vim-textobj-underscore"]
	path = vim/bundle/vim-textobj-underscore
	url = git@github.com:lucapette/vim-textobj-underscore.git
[submodule "vim/bundle/vim-signify"]
	path = vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "vim/bundle/vim-textobj-signify-hunk"]
	path = vim/bundle/vim-textobj-signify-hunk
	url = https://github.com/killphi/vim-textobj-signify-hunk.git
[submodule "vim/bundle/vim-vinegar"]
	path = vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/bundle/calendar-vim"]
	path = vim/bundle/calendar-vim
	url = git://github.com/mattn/calendar-vim
[submodule "vim/bundle/narrow-region"]
	path = vim/bundle/narrow-region
	url = https://github.com/chrisbra/NrrwRgn.git
[submodule "vim/bundle/vim-pythogen"]
	path = vim/bundle/vim-pythogen
	url = git@github.com:ivanovwaltz/vim-pythogen.git
[submodule "vim/bundle/nose.vim"]
	path = vim/bundle/nose.vim
	url = https://github.com/lambdalisue/nose.vim.git
[submodule "vim/bundle/Conque-Shell"]
	path = vim/bundle/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "vim/bundle/vim-characterize"]
	path = vim/bundle/vim-characterize
	url = git://github.com/tpope/vim-characterize.git
[submodule "vim/bundle/vim-rsi"]
	path = vim/bundle/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/pytest.vim"]
	path = vim/bundle/pytest.vim
	url = git@github.com:alfredodeza/pytest.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "vim/bundle/vim-textobj-between"]
	path = vim/bundle/vim-textobj-between
	url = git@github.com:thinca/vim-textobj-between.git
[submodule "vim/bundle/vim-textobj-quotes"]
	path = vim/bundle/vim-textobj-quotes
	url = git@github.com:beloglazov/vim-textobj-quotes.git
[submodule "vim/bundle/vim-textobj-variable-segment"]
	path = vim/bundle/vim-textobj-variable-segment
	url = https://github.com/Julian/vim-textobj-variable-segment.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/VOom"]
	path = vim/bundle/VOom
	url = git@github.com:vim-voom/VOoM.git
[submodule "vim/bundle/vim-conflicted"]
	path = vim/bundle/vim-conflicted
	url = git@github.com:christoomey/vim-conflicted.git
